<div class="row">
	<div class="col-md-4">
		<%= render partial: 'normal_profile_div' %>
	</div>
	<div class="col-md-5">
		<%= render partial: 'applicants/exam_list', locals: {applicant: current_user} %>
	</div>
	<div class="col-md-3">
		<%= render partial: 'applicants/adviser_message', locals: {applicant: current_user} %>
	</div>
</div>