<div class="table-responsive">
  <table class="table table-condensed table-striped  table-hover no-margin borderless">
    <thead>
      <tr>
        <th style="width:10%" class="text-center hidden-phone">تصویر</th>
        <th style="width:20%" class="text-center hidden-phone">نام متقاضی</th>
        <th style="width:10%" class="text-center hidden-phone">پست الکترونیکی</th>
        <th style="width:15%" class="text-center hidden-phone">نام کاربری</th>
        <th style="width:10%" class="text-center hidden-phone">کد کاربری</th>
        <th style="width:15%" class="text-center hidden-phone">عملیات</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.customers.each do |customer| %>
        <%= render partial: 'single_customer', locals: { customer: customer } %>
      <% end %>
    </tbody>
  </table>
</div>
