<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm">
            <div class="media">
                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="col-xs-12 col-sm-4 center-block img-circle img-responsive">
                <div class="media-body">
                    <h4 class="media-heading"><%= full_name current_user %></h4>
                    <p><span class="label label-primary"><%= role_label current_user %> </span></p>
                    <p>
                        کد کاربری
                        <span class="label label-success"><%= current_user.user_code %> </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>